.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form, textarea {
  width: 90%;
}

textarea {
  height: 20rem;
}

#previewer {
  width: 50%;
}

#notes {
  margin-top: 2rem;
}

.test {
  background-color: yellow;
}